@use "./base";

.centered {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app,
.page {
  @extend .centered;
  min-height: 100vh;
  width: 100vw;
  font-size: calc(15px + 1.5vw);
  color: base.$text-color;
  ::selection {
    color: base.$text-color;
  }
}

.link {
  color: base.$link-color;
}

.project-title {
  position: absolute;
  top: 20%;
  font-size: calc(50px + 5vmin);
}

.project-block {
  @extend .centered;
  background-color: base.$dark-background-color;
  h1 {
    font-size: calc(20px + 1.5vw);
    margin: 0.5%;
    margin-bottom: 0;
  }
  p {
    font-size: calc(12px + 0.5vw);
    margin: 10px;
    margin-top: 0;
  }
  padding: 10px;
  width: 60%;
  min-width: 250px;
  border-radius: 15px;

  position: absolute;
  top: 40%;
}

.hover-button {
  transition: background-color 0.5s;
  background-color: base.$background-color;
}
.hover-button:hover {
  transition: background-color 0.5s;
  background-color: base.$dark-background-color;
}

.main-page-redirect {
  @extend .hover-button;
  position: absolute;
  width: 20%;
  height: 10%;
  margin: 10px;
  border-radius: 10px;
  top: 0;
  left: 0;
  h1 {
    // width: 100%;
    font-size: calc(10px + 2vw);
    position: relative;
  }
}

.page-redirect {
  @extend .hover-button;
  position: absolute;
  bottom: 0;
  width: 30%;
  height: 20%;
  margin: 10px;
  border-radius: 20px;
  h1 {
    width: 100%;
    font-size: calc(10px + 3vw);
  }
}

.project-arrow {
  @extend .hover-button;
  width: 35%;
  height: 20%;
  bottom: 0;
  position: absolute;
  margin: 10px;
  border-radius: 20px;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

// .page-redirect {
//   transition: background-color 2s ease-out 100ms;
//   :hover {
//     background-color: white;
//   }
// };
