$background-color: #7a8656;
$text-color: white;
$link-color: #e4ffa4;
$dark-background-color: #606b41;
$semi-dark-background-color: #707b52;
$font-stack: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
